html{
    scroll-behavior: smooth;
}

body{
    height: 460vh;
    background-color:#ebebeb;
}

.grade-materias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;   /* Limita pra 2 por linha */
    margin: 80px auto;  /* Centraliza na tela */
    gap: 60px; /* Espaço entre os botões */
}

.botao-materia {
    width: 350px;
    height: 180px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    color: black;
    transition: 0.3s;
}

/* Cores personalizadas */
.verde { background-color: #4cd137; }
.amarelo { background-color: #feca57; }
.vermelho { background-color: #e84118; }
.roxo { background-color: #6c5ce7; }

.botao-materia:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

section {
    padding: 100px 20px 100px 20px; /* top, right, bottom, left */
}

#admin{
    background-color: #4cd137;
    opacity: 0.8;
    scroll-margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 90%;
    padding: 20px 10px 100px 40px;
    border-radius: 10px;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color: #000; /* Cor da fonte */
    line-height: 2.2; /* Espaçamento entre linhas */
}

#admin a {
  color: blue; /* Altere para a cor desejada */
  font-weight: bold; /* Opcional: deixa em negrito */
}

#mat{
    background-color: #e84218;
    opacity: 0.8;
    scroll-margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 90%;
    padding: 20px 10px 100px 40px;
    border-radius: 10px;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color: #000; /* Cor da fonte */
    line-height: 2.2; /* Espaçamento entre linhas */ 
}

.video{
    display: block;
    margin: 30px auto;
    border-radius: 10px;
}

#ing{
    text-decoration: none;
    background-color: #feca57;
    opacity: 0.8;
    scroll-margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 90%;
    padding: 20px 10px 100px 40px;
    border-radius: 10px;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color: #000; /* Cor da fonte */
    line-height: 2.2; /* Espaçamento entre linhas */ 
}

#ing a {
  color: blue; /* Altere para a cor desejada */
  font-weight: bold; /* Opcional: deixa em negrito */
}

#cient{
    background-color: #6c5ce7;
    opacity: 0.8;
    scroll-margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 90%;
    padding: 20px 10px 100px 40px;
    border-radius: 10px;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color: #000; /* Cor da fonte */
    line-height: 2.2; /* Espaçamento entre linhas */ 
}

#cient a {
  color: blue; /* Altere para a cor desejada */
  font-weight: bold; /* Opcional: deixa em negrito */
}

h2 a {
  color: black !important;
  text-decoration: none;
}

h2 a:hover {
  color: #fffbfb !important; 
  text-decoration: none; 
}

.voltar a {
    text-decoration: none;
    color: white;
    background-color: #002366; /* azul escuro, pode mudar */
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.voltar a:hover {
    background-color: #0047ab; /* tom mais claro ao passar o mouse */
}


.rodape {
    background-color: #ffde59;  /* Cor de fundo */
    color: black;            /* Cor do texto */
    text-align: center;      /* Centraliza o texto */
    padding: 30px 0;         /* Espaço interno */
    position: relative;      /* ou 'fixed' se quiser fixo na tela */
    bottom: 0;
    width: 100%;
}
