*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Pensar em uma fonte para colocar */
}

html{
    height: 500vh;
}

.main{
    max-width: 1280px;
    margin: auto;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    display: inline;
}
ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;

}