*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Pensar em uma fonte para colocar */
}

html{
    text-decoration: none;
    height: 500vh;
}

.main{
    margin: auto;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:100px;  
    margin-right: auto;
}
img{
    float: left;
}

.nav-b {
    display: flex;
    background-color: #ffde59;
    list-style-type: none;
    padding: 0px 0px 0px;
    overflow: hidden;
    height: 80px;

}
.nav-b li{
    color: #597AFF;
    padding: 20px;
    display: block;
    text-align: center;
    float: left;
}
.nav-b a {
    display: block;
    padding: 25px 70px;
    border: black;
    float: left
}
.nav-b a:hover{
    background-color: lightseagreen;
}
.icon{
    float: right;
}