*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Pensar em uma fonte para colocar */
}

header{
    display: inline;
}
ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;

}